<!--<link rel="stylesheet" type="text/css" href="Components/Activities/FileSystemConnComponent/style/style.css">--> 
<div class="file-system-connection-div ul-label-large"> 
    <div class="file-tab-content ul-pad-2x-t ul-pad-2x-r"> 
        <div class="ul-form-row ul-flex-gap-3x"> 
            <div id="connectionComboBox-row" class="ul-label-container propertyLabels"> 
                <label class="ul-required ul-body-m-b" for="connectionComboBox"><%=nls.labels.connection%></label> 
            </div> 
            <div class="ul-form-row ul-flex-gap-3x ul-input-container"> 
                <div class="propertyValue ul-input-container ul-flex-col-container"> 
                    <input id="connectionComboBox" class="ul-container"> 
                </div> 
                <div id="refresh-connection-button" title="<%=nls.buttons.refreshConnection%>" class="eQ-icon eQ-fonts-2x eQ-fonts-refresh"></div> 
            </div> 
        </div> 
    </div> 
    <div class="file-tab-content" id="file-model-config-component"></div> 
    <div id="formattedFile-resultSet"></div> 
    <div class="file-tab-content ul-pad-2x-r"> 
        <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-t ul-pad-2x-b"> 
            <div class="ul-label-container propertyLabels"> 
                <label class="ul-body-m-b" for="baseFilePath"><%=nls.labels.baseFilePath%></label> 
            </div> 
            <div class="ul-input-container propertyValue"> 
                <div id="baseFilePath" class="text-value"></div> 
            </div> 
        </div> 
        <div id="connection-model-configuration"></div> 
        <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b" id="relativefile-div"> 
            <div class="ul-label-container propertyLabels"> 
                <label class="ul-body-m-b relativePathLabel" for="relativefilepath"><%=nls.labels.relativeFilePath%></label> 
            </div> 
            <div class="ul-form-row ul-flex-gap-3x ul-input-container" > 
                <div class="file-eb-container propertyValue ul-input-container"> 
                    <div id="relativefilepath" class="expression-editor ul-container" data-bind="value:expBuilder"></div> 
                </div> 
                <div class="propertyValue"> 
                    <div id="populate-relative-path" class="k-button ul-tertiary-button"><%=nls.buttons.populate%></div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
