<div class="writetoopcua-div ul-label-large">
    <div class="ul-form-container">
        <div class="ul-form-small ul-col-lg-8 ul-pad-0x">

            <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b">
                <div class="ul-label-container">
                    <label class="ul-body-m-b"><%-nls.TransportNameVariable%></label>
                </div>

                <div class="ul-input-container">
                    <input type="checkbox" class="transport-name-variable-checkbox"/>
                </div>
            </div>

            <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b">
                <div class="ul-label-container">
                    <label class="ul-body-m-b ul-required"><%-nls.TransportName%></label>
                </div>

                <div class="ul-input-container">
                    <div id="transport-name-expression-region"></div>
                    <div id="transport-name-dropdown-region">
                        <div class="transport-dropdown-wrapper">
                            <div class="transport-selector-dropdown"></div>

                            <div class="create-open-wrapper">
                                <div class="transport-selector-button transports-refresh-button"
                                     title="<%-nls.Refresh%>">
                                    <span class="eQ-icon eQ-fonts-refresh"></span>
                                </div>

                                <div class="transport-selector-button transports-create-button"
                                     title="<%-nls.Create%>">
                                    <span class="eQ-icon eQ-fonts-plus"></span>
                                </div>

                                <div class="transport-selector-button transports-open-button"
                                     title="<%-nls.Open%>">
                                    <span class="eQ-icon eQ-fonts-open-existing-project"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b">
                <div class="ul-label-container">
                    <label class="ul-body-m-b ul-required"><%-nls.Operation%></label>
                </div>

                <div class="ul-input-container">

                    <input type="radio" id="data-change-write-radio" class="data-change-write-radio" name="operation" value="DataChangeWrite"/>
                    <label for="data-change-write-radio" class="writetoopcua-radio-label ul-pad-3x-r"><%-nls.DataChangeWrite%></label>

                    <input type="radio" id="call-method-radio" class="call-method-radio" name="operation" value="CallMethod"/>
                    <label for="call-method-radio" class="writetoopcua-radio-label"><%-nls.CallMethod%></label>

                </div>
            </div>

            <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b">
                <div class="ul-label-container">
                    <label class="ul-body-m-b ul-required"><%-nls.ExecutionMode%></label>
                </div>

                <div class="ul-input-container">
                    <div class="ul-form-row ul-flex-gap-1x">

                        <div class="execution-mode-option">
                            <input type="radio" id="parallel-mode-radio" class="parallel-mode-radio" name="execution-mode" value="Parallel"/>
                            <label for="parallel-mode-radio" class="writetoopcua-radio-label"><%-nls.Parallel%></label>
                            <div id="parallel-mode-help-container" class="help-container">
                                <input class="help-tooltip parallel-mode-help-tooltip" data-help="<%-nls.ParallelHelp%>"/>
                            </div>
                        </div>

                        <div class="execution-mode-option">
                            <input type="radio" id="sequential-mode-radio" class="sequential-mode-radio" name="execution-mode" value="Sequential"/>
                            <label for="sequential-mode-radio" class="writetoopcua-radio-label"><%-nls.Sequential%></label>
                            <div id="sequential-mode-help-container" class="help-container">
                                <input class="help-tooltip sequential-mode-help-tooltip" data-help="<%-nls.SequentialHelp%>"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="data-change-write-container">
            <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b">
                <div class="ul-label-container">
                    <label class="ul-body-m-b ul-required"><%-nls.DataChangeWrite%></label>
                </div>

                <div class="ul-input-container">
                    <div id="data-change-write-region">
                        <div class="writetoopcua-grid-toolbar">
                            <div class="writetoopcua-grid-search">
                                <input type="text" class="data-change-write-search"/>
                            </div>
                            <div class="writetoopcua-grid-actions">
                                <button type="button" class="data-change-write-add-btn" title="<%-nls.Add%>">
                                    <span class="eQ-icon eQ-fonts-addRow"></span>
                                </button>
                                <button type="button" class="writetoopcua-grid-delete-btn" title="<%-nls.Delete%>">
                                    <span class="eQ-icon eQ-fonts-removeRow"></span>
                                </button>
                            </div>
                        </div>
                        <div class="cvt-grid-div cvt-grid-div-data-change-write"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="call-method-container">
            <div class="ul-form-row ul-flex-gap-3x ul-pad-2x-b">
                <div class="ul-label-container">
                    <label class="ul-body-m-b ul-required"><%-nls.CallMethod%></label>
                </div>

                <div class="ul-input-container">
                    <div id="call-method-region">
                        <div class="writetoopcua-grid-toolbar">
                            <div class="writetoopcua-grid-search">
                                <input type="text" class="call-method-search"/>
                            </div>
                            <div class="writetoopcua-grid-actions">
                                <button type="button" class="call-method-add-btn" title="<%-nls.Add%>">
                                    <span class="eQ-icon eQ-fonts-addRow"></span>
                                </button>
                                <button type="button" class="writetoopcua-grid-delete-btn" title="<%-nls.Delete%>">
                                    <span class="eQ-icon eQ-fonts-removeRow"></span>
                                </button>
                            </div>
                        </div>
                        <div class="cvt-grid-div cvt-grid-div-call-method"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
