.device-connector-connection-div {
    #refresh-connection-button {
        cursor: pointer;
        align-self: center;
    }

    #connectionComboBox_wrapper {
        display: grid;
        width: 100%;
    }
}
