.file-system-connection-div { 
.required { 
&:before { 
content: "* "; 
color: @status-fail-txt; 
} 
} 

.not-required { 
padding-left: .8rem; 
} 

#refresh-connection-button { 
cursor: pointer; 
} 

#connectionComboBox_wrapper { 
display: grid; 
} 
} 
